<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/examProf.css">
        <title> Examen </title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/examenesProfesor">Examenes</a></li>
                <li><a href="/listaAlumnos">Alumnos</a></li>
                <li style="float:right"><a class="active" href="/login">Cerrar sesión</a></li>
            </ul>
        </div>
        <div class="seccion-examen">
            <div class="data-examen">
                <div><strong>{{examen.nombre}}</strong></div>
                <div><strong> De {{examen.fechaInicio}} a {{examen.fechaFin}}</strong></div>
            </div>
            <div class="boton-pregunta">
                <button class="boton-primario"><a href="/crearPregunta/{{examen.folioExamen}}">Agregar pregunta</a></button>
            </div>
            <div class="lista-preguntas">
                <span><strong>Preguntas</strong></span>
                <ul>
                    {{#preguntas}}
                    <li class="nombre-pregunta"><a href="/registrarRespuesta/{{id}}">{{descripcion}}</a></li>
                    {{/preguntas}}
                </ul>
            </div>
        </div>
        
    </body>
</html>